<%- include ('partials/header.ejs'); -%>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


    <html>
        <head>
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>MTaarten</title>
            <link rel="stylesheet" href="/stylesheets/bruidstaartenPage.css">
        </head>
        <body>
            <div class="container">
                <header class="jumbotron">
                    <div class="container">
                    <h1>Welkom bij bruidstaarten pagina</h1>
                    <p>Bekijk onze aanbod</p>
                    </div>
                </header>
            


                <div class="row" style="display: flex; flex-wrap: wrap;">
            
                    <% bruidstaarten.forEach((bruidstaart, user) => { %>        
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="/assets/bruidstaartenmap/<%= bruidstaart.image %>" class="rounded-circle player-img" alt="">
                                <div class="caption">
                                    <label>Naam:</label>
                                            <%= bruidstaart.bruidstaartnaam %>
                                        
                                </div>
                                <div class="caption">
                                    <label>Aantalpersonen:</label>
                                    <%= bruidstaart.aantalpersonen %>
                                </div>
                                <div class="caption">
                                    <label>Prijs:</label>
                                    <h5>Op aanvraag. Bel: 0634700961</h5>
                                </div>
                            
                        </div>
                        
                        
                        
                    </div>
                        <% }) %>
                </div>
            </div>
        </body>
        <div id="partialsFooter">
            <%- include ('partials/footer.ejs'); -%>
        </div>
    </html>





















