<%- include ('partials/header.ejs'); -%>


<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MTaarten</title>
        <link rel="stylesheet" href="/stylesheets/verlovingstaartenPage.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <!--Jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--Floating WhatsApp css-->
        <link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
        <!--Floating WhatsApp javascript-->
        <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>
        <script type="text/javascript">  
            $(function () {
                    $('#WAButton').floatingWhatsApp({
                        phone: '+31634700961', //WhatsApp Business phone number
                        headerTitle: 'U chat nu met MTaarten', //Popup Title
                        popupMessage: 'Goedendag, waarmee kunnen wij u helpen', //Popup Message
                        showPopup: true, //Enables popup display
                        buttonImage: '<img src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/whatsapp.svg" />', //Button Image
                        //headerColor: 'crimson', //Custom header color
                        //backgroundColor: 'crimson', //Custom background button color
                        position: "right" //Position: left | right
         
                    });
                });
         </script>  
    </head>
        <body>
            <div class="container">
                <header class="jumbotron">
                    <div class="container">
                    <h1>Welkom bij verlovingstaarten pagina</h1>
                    <p>Bekijk onze aanbod</p>
                    <p><h5>Heeft u uw taart hieronder nog niet kunnen vinden, dan kunt u altijd uw taart design naar ons <a href="mailto:info@mtaarten.nl">mailen.</a> 
                        We zullen dan binnen 2 werkdagen uw aanvraag beantwoorden</h5></p>
                    </div>
                </header>



                <div class="row" style="display: flex; flex-wrap: wrap; overflow: hidden;">
            
                    <% verlovingstaarten.forEach((verlovingstaart, user) => { %>        
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="/assets/verlovingstaartenmap/<%= verlovingstaart.image %>" class="rounded-circle player-img" alt="">
                                <div class="caption">
                                    <label>Naam:</label>
                                            <%= verlovingstaart.verlovingstaartnaam %>
                                        
                                </div>
                                <div class="caption">
                                    <label>Aantalpersonen:</label>
                                    <%= verlovingstaart.aantalpersonen %>
                                </div>
                                <div class="caption">
                                    <label>Prijs: op aanvraag</label>
                                    <h5>Voor meer info<a href="tel: 0634700961"> Bel</a></h5>
                                </div>

                        </div>
                        
                        
                        
                    </div>
                        <% }) %>
                </div>
            </div>
            <div id="WAButton"></div>
        </body>
        <div id="partialsFooter">
            <%- include ('partials/footer.ejs'); -%>
        </div>
</html>





















